.one{
    /*float:left;
    width:30%;
    height:200px;
    background-color:red;*/

   /*position:absolute;
    left:0;
    width:30%;
    height:200px;
    background-color:rgb(128, 128, 128);*/

    /*position:relative;
    left:0;
    width:30%;
    height:200px;
    background-color:rgb(128, 128, 128)*/
    width:30%;
    height:200px;
    background-color:red;
}
.two{
    /*float:left;
    width:70%;
    height:200px;
    background-color:blue;*/
    
    /*position:absolute;
    left:30%;
    width:70%;
    height:200px;
    background-color:blue;*/

    /*position:relative;
    left:30%;
    margin-top:-200px;
    width:70%;
    height:200px;
    background-color:blue;*/
    width:70%;
    height:200px;
    background-color:blue;
}
.value1{
    display:flex;
}